* {
  /* Below is the standard CSS code one should add to get rid of default margins and padding which most of tge HTML elements have */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

body {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  background: #0D2350;
}

/* Title CSS */
.title {
  background: #0D2350;
  text-align: center;
  font-size: 2.2em;
  padding-block: 0.5em;
  color: #e9e9df;
  cursor: pointer;
}

/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8em;
  font-size: 16px;
  min-height: 70px;
  padding-block: 0.6em;
  background: #0D2350;
  box-shadow: 0 .1px 0 0 #e9dfdf;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar a {
  all: unset;
  cursor: pointer;
  color: #e9dfdf;
  font-weight: bold;
  border-radius: 4px;
  padding: 6px 8px;
  transition: 0.3s;
  background: #0D2350;
  border: 1px solid #e9dfdf;
}

.navbar a:hover {
  border: 2px solid #e9dfdf;
  box-shadow: 1px 1px 5px 1px #e9dfdf;
}

.navbar #menu {
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  background: #0D2350;
  border: 1px solid #e9dfdf;
  color: #e9dfdf;
}

.navbar>.icon {
  display: none;
}

#menu,
#random,
#start {
  cursor: pointer;
}

/* Center css */
.center {
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 #e9dfdf;
  /* Added shadow to make page border free */
  height: 420px;
  width: 410px;
  max-height: 731px;
}

.array {
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: row;
}

.cell {
  display: flex;
  align-items: flex-start;
  flex: 0.5;
  width: 0.000001%;
  margin: 1px;
  background-color: #97979a;
  resize: horizontal;
  position: relative;
  transition: all 0.4s ease-in;
}

.cell.done {
  background-color: #FDA62B;
  border-color: #FDA62B;
  color: #e9dfdf;
  transition: all 0.4s ease-out;
}

.cell.visited {
  border-color: #6738DC;
  background-color: #6738DC;
  color: #e9dfdf;
  transition: 0.5s;
}

.cell.current {
  border-color: #06ae49;
  background-color: #06ae49;
  color: #e9dfdf;
  transition: all 0.4s ease-out;
}

.cell.min {
  background-color: #CB5554;
  border-color: #CB5554;
  color: #e9dfdf;
  transition: all 0.4s ease-out;
}

/* Footer CSS */
.fa.fa-heart {
  color: #eb2c13;
}

footer {
  text-align: center;
  font-size: 18px;
  color: #727275;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #ff5252;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .navbar {
    gap: 0.4em;
  }

  .title {
    font-size: 17px;
  }

  .navbar *,
  .navbar a {
    font-size: 14px;
  }

  .footer {
    font-size: 18px;
  }

  a#random {
    order: 4;
  }

  a.start {
    order: 5;
  }
}

@media screen and (max-width: 550px) {
  .center {
    width: 95%;
  }
}